openapi: 3.0.0
info:
  title: Default conpeek collection
  version: 1.0.0
servers:
  - url: https://api-bssserver29.cloud.conpeek.com
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
security:
  - ApiKeyAuth: []
paths:
  /crm/{crm_id}/contact:
    get:
      parameters:
        - name: crm_id
          in: path
          required: true
          description: CRM ID
          schema:
            type: string
      tags:
        - Get CRM contacts
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      parameters:
        - name: crm_id
          in: path
          required: true
          description: CRM ID
          schema:
            type: string
      tags:
        - Add CRM contact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  firstname: Jan
                  surname: Kowalski
                  job: Pracownik
                  custom:
                    custom_field1: custom_value1
                    pesel: '12312312312'
                  lifecycle_stage_id: 753
                  email: jan.kowalski@example.xyz
                  website: https://duck.com/
                  number_list:
                    - type: mobile
                      number: '48123123123'
                  tags:
                    - 1
                    - 2
                    - 3
                  contact_identifier: JAN_KOWALSKI_ID
                  tele_id: 1234
                  tele_pin: 9876
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /crm/{crm_id}/contact/{contact_id}:
    put:
      parameters:
        - name: crm_id
          in: path
          required: true
          description: CRM ID
          schema:
            type: string
        - name: contact_id
          in: path
          required: true
          description: CONTACT ID
          schema:
            type: string
      tags:
        - Update CRM contact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  firstname: Mateusz
                  surname: Kowalski
                  job: Pracownik
                  custom:
                    custom_field1: custom_value1
                    pesel: '12312312312'
                  lifecycle_stage_id: 753
                  email: jan.kowalski@example.xyz
                  website: https://duck.com/
                  number_list:
                    - type: mobile
                      number: '48123123123'
                  tags:
                    - 1
                    - 2
                    - 3
                  contact_identifier: JAN_KOWALSKI_ID
                  tele_id: 1234
                  tele_pin: 9876
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      parameters:
        - name: crm_id
          in: path
          required: true
          description: CRM ID
          schema:
            type: string
        - name: contact_id
          in: path
          required: true
          description: CONTACT ID
          schema:
            type: string
      tags:
        - Delete CRM contact
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      parameters:
        - name: crm_id
          in: path
          required: true
          description: CRM ID
          schema:
            type: string
        - name: contact_id
          in: path
          required: true
          description: CONTACT ID
          schema:
            type: string
      tags:
        - Get CRM contact
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
